---
// src/components/Calendar.astro
import { google } from "googleapis";

import { GOOGLE_SERVICE_KEY, GOOGLE_SERVICE_EMAIL } from "astro:env/server";

const sampleUrl = "https://maps.app.goo.gl/Dv55yMJetDWxwAMn9";

// Load service account key
const serviceAccountKey = Buffer.from(GOOGLE_SERVICE_KEY, "base64").toString();
const serviceAccountEmail = GOOGLE_SERVICE_EMAIL;

const calendarId = "c_37a308ef81bb293415e887dfe35ad3182ddab79ffcec0af9c597bd91431d54f7@group.calendar.google.com";

const auth = new google.auth.JWT({
  email: serviceAccountEmail,
  key: serviceAccountKey,
  scopes: ["https://www.googleapis.com/auth/calendar.readonly"],
});

const calendar = google.calendar({ version: "v3", auth });

// Fetch events
const response = await calendar.events.list({
  calendarId: calendarId,
  timeMin: new Date().toISOString(),
  maxResults: 10,
  singleEvents: true,
  orderBy: "startTime",
});

const getPlaceURL = async (url: string) => await fetch(url).then(response => response.text()).then(markup => {
  return markup.split("\\u003d").filter(line => line.startsWith("https://"))
    .map(line => decodeURIComponent(line.split("\\u0026")?.[0] ?? ''))?.[0];
}).catch();


const events = await Promise.all(response.data.items
  ?.filter(event => event && !event?.summary?.toLowerCase().includes('interest'))
  .map(event => {
    const url = event.description?.replace(/[\s\S]*(https:\/\/maps.app.goo.gl\/[a-z0-9]*)[\s\S]*/mi, "$1");
    url.startsWith("https://") && console.log(url);
    return url?.startsWith("https://") ? Promise.resolve(getPlaceURL(url).then(placeURL => ({ event, placeURL }))) :
      Promise.resolve({ event });
  }) ?? []);

---

<div>
  {events?.map(entry => {
    const { event, placeURL } = entry;
    return (
      <p>{event.summary} - {event.start.dateTime || event.start.date}</p>
      <p>{placeURL}</p>
      <!--<pre>{JSON.stringify(event, undefined, 2)}</pre>-->
    );
  })}
</div>
